.img{
    display: flex;
    justify-content: space-around;
 align-items: center;
}


img:hover{

    box-shadow: 15px 15px 15px yellow (0, 0, 0, 0.5);
    padding: 15px;
    cursor: progress;
    transition: box-shadow 4s;
}

#saveform {
    width: 200px;
    height: 200px;
    /* display: inline; */
    margin-left: auto;
    margin-right: auto;
    
}

.crystals {
    background-color: blueviolet;
}

body{
   
    height: 100%;
}

h1{
    
    font-size: 100px;
    font-style: oblique;
}

p{
    font-size:25px;
    font-style: italic; 
}